*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');



article{
    justify-content: center;
    text-align: center;
    margin-top: 3rem !important;
    width: 500px;
    margin: auto;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px black;
    padding: 1rem;
    background-color: blanchedalmond;
}
h1{
    padding:2rem;
    font-family: 'Montserrat', sans-serif;
    color: rgb(1, 104, 107);
    text-shadow: 1px 1px solid black;
}
img{
    max-width:183px;
    clip-path: circle();
    max-height: 200px;
    outline-style:ridge;
}
h4{
    color: rgb(1, 104, 107);
    padding-top: 5px;
}

p{
    max-width: 500px;
    margin: auto;
    padding: 1rem;
    font-family: 'Montserrat', sans-serif;
}

button{
    margin: 1rem;
    border: none;
    padding: 10px;
    border-radius: 3px;
    background-color: rgb(255, 145, 0);
    color: black;
    cursor: pointer;
}
button:hover{
    background-color: rgba(255, 145, 0, 0.746);
}

span{
    background-color: black;
    border: 1px solid black;
}